@media screen and (min-width: 769px) {
  .container {
    /* margin: 0 auto; */
    /* max-width: 720px; */
    /* width: 100%; */
    /* padding: 5rem 2rem; */
  }

  .nav-icon,
  .active {
    all: unset;
    display: none;
  }

  .nav__items,
  .nav__btn {
    display: flex;
    /* font-size: 0.7rem; */
  }

  .nav__items {
    font-family: var(--roboto);
    font-weight: 700;
    gap: 12px;
    font-size: 0.875rem;
  }

  h1 {
    /* font-size: calc(var(--heading-size) - 1.2rem); */
  }

  h2 {
    /* font-size: calc(var(--semi-heading-size) - 1rem); */
    font-family: var(--raleway);
    color: #003966;
  }

  p {
    /* font-size: calc(var(--paragraph-size) - 0.1rem); */
    color: #004060;
    font-family: var(--roboto);
    font-weight: 400;
  }

  .home__container p {
    /* font-size: calc(var(--hero-paragraph) - 0.4rem); */
  }

  li p {
    font-weight: 700;
  }

  .nav__item {
    padding: 0.5rem 0.8rem;
  }

  /* home  */
  .home {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .home__container {
    text-align: left;
    align-items: flex-start;
    width: 30rem;
  }

  .home__links {
    flex-direction: column;
    width: 100vw;
    flex-direction: row;
    width: 100vw;
    align-items: center;
    justify-content: flex-start;
  }

  .events__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .events__text {
    /* width: 100%; */
    align-items: baseline;
  }

  .automate__grid {
    display: grid;
    grid-template-columns: 300px 300px;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
  .automate__grid p {
    text-align: left;
  }

  .automate__grid ul {
    justify-self: baseline;
    align-self: center;
    align-items: baseline;
  }

  /* testimonial */
  .testimonial__card {
    padding: 1.8rem 1.8rem;
    gap: 1rem;
  }

  .partners-grid {
    flex-direction: row;
  }
  /* get started  */
  .get__started {
    flex-direction: row;
  }

  /* footer  */
  .footer__container {
    flex-direction: row;
  }
}

@media screen and (min-width: 1025px) {
  .container {
    /* margin: 0 auto; */
    /* max-width: 992px; */
    /* width: 100%; */
    /* padding: 5rem 2rem; */
  }

  .home {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .nav__items {
    gap: 2rem;
    font-size: 1.2rem;
  }

  h1 {
    /* font-size: var(--heading-size); */
  }

  h2 {
    /* font-size: var(--semi-heading-size); */
  }

  p {
    /* font-size: var(--paragraph-size); */
  }

  .testimonial__card {
    padding: 1.8rem 2.3rem;
    gap: 2rem;
  }
  .home__container p {
    /* font-size: var(--hero-paragraph); */
  }
}

/* container media query  */

@media (max-width: 320px) {
  .container {
    margin: 2rem auto;
    padding: 2rem 2rem;
    max-width: 290px;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .container {
    margin: 2rem auto;
    padding: 2rem 2rem;
    max-width: 320px;
    width: 100%;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  .container {
    margin: 2rem auto;
    padding: 2rem 2rem;
    max-width: 375px;
    width: 100%;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .container {
    margin: 2rem auto;
    padding: 3rem 3rem;
    max-width: 680px;
    width: 100vw;
  }
}

@media (min-width: 769px) {
  .container {
    margin: 2rem auto;
    padding: 3rem 3rem;
    max-width: clamp(720px, 85vw, 1220px);
    width: 100vw;
  }

  .home__container p {
    width: 600px;
  }
}
