@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-background: #e5e5e5;
  --btn-white: #fff;
  --title-font-color: #555770;
  --p-font-color: #606060;
  --poppins: "Poppins", sans-serif;
  --roboto: "Roboto", sans-serif;
  --raleway: "Raleway", sans-serif;
  --heading-size: 4rem;
  --semi-heading-size: 3.375rem;
  --paragraph-size: 1rem;
  --hero-paragraph: 1.8rem;
  --navbar-size: 0.875rem;
}

h1 {
  font-size: clamp(1.4rem, calc(8vw + 0.1rem), 4rem);
  /* font-size: calc(var(--heading-size) - 2rem); */
}

h2 {
  font-size: clamp(1.2rem, calc(6vw + 0.1rem), 3.75rem);
  /* font-size: calc(var(--semi-heading-size) - 2.2rem); */
  font-family: var(--raleway);
  color: #003966;
}

p {
  /* font-size: calc(var(--paragraph-size) - 0.3rem); */
  font-size: clamp(0.6rem, calc(4vw + 0.1rem), 1rem);
  color: #004060;
  font-family: var(--roboto);
  font-weight: 400;
}

.home__container p {
  font-size: clamp(0.8rem, calc(4vw + 0.1rem), 1.8rem);
  /* font-size: calc(var(--hero-paragraph) - 0.7rem); */
}

.get__started h2 {
  font-size: clamp(0.8rem, calc(7vw + 0.1rem), 2rem);
}

li p {
  font-weight: 700;
}

body {
  background-color: var(--body-background);
  overflow-x: hidden;
}

a {
  all: unset;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  object-fit: cover;
  object-position: center center;
  background-position: center;
  width: 100%;
  height: auto;
}
html,
body {
  scroll-behavior: smooth;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

button {
  /* all: unset; */
  font-size: clamp(0.7rem, calc(6vw - 1rem), 0.9rem);
}

.btn__orange {
  border: 0px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  border-radius: 1.9375rem;
  background: linear-gradient(
    90deg,
    #ff913a 2.17%,
    #f88224 50.45%,
    #e46e10 98.39%
  );
  box-shadow: 6px 5px 10px 3px rgba(54, 54, 54, 0.24), -8px -8px 10px 0px #fff;
}

.btn__white {
  color: #000;
  letter-spacing: 0.125rem;
  border-radius: 1.9375rem;
  border: 2px solid #fff;
  background: linear-gradient(
    95deg,
    #dcdde2 4.48%,
    #e2e3e7 7.97%,
    #ebecf0 44.7%,
    #e4e6eb 44.7%
  );
  box-shadow: 6px 5px 10px 3px rgba(54, 54, 54, 0.24), -8px -8px 10px 0px #fff;
}

.btn__orange,
.btn__white {
  padding: 1rem 3.5rem;
  font-family: var(--roboto);
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  /* max-width: 14.6875rem; */
}

.glass {
  border-radius: 56px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25), -1px -1px 2px 0px #fff;
  background: #ebecf0;
}

.list__items {
  align-items: flex-start;
  text-align: left;
  gap: 0.7rem;
}

.list__items li div {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer h3 {
  font-family: var(--roboto);
  font-weight: 700;
  font-size: 1.5rem;
  color: #f2f2f5;
}
footer a {
  font-family: var(--roboto);
  font-weight: 400;
  font-size: 1.12rem;
  color: #f2f2f5;
}
footer p {
  font-family: var(--roboto);
  font-weight: 400;
  font-size: 1.12rem;
  color: #f2f2f5;
}
/* navbar  */

header {
  max-width: 1220px;
  margin: auto;
  width: 100%;
}
.navbar {
  margin-top: 20px;
  height: 4.5rem;
  padding: 0 2rem;
  background-color: #606060;
  justify-content: space-between;
  border-radius: 3.125rem;
  border: 2px solid #fff;
  background: linear-gradient(
    90deg,
    #e8eaf1 2.4%,
    rgba(235, 236, 240, 0) 98.82%
  );
  box-shadow: -6px -7px 11px 0px rgba(255, 255, 255, 0.84),
    8px 7px 21px 0px rgba(0, 0, 0, 0.15);
}

.logo-__nav {
  height: 100%;
}

.logo__nav img {
  object-fit: cover;
  object-position: center center;
  background-position: center;
  width: 120px;
  height: fit-content;
}

.nav__items {
  display: none;
  cursor: pointer;
  font-family: var(--roboto);
  font-weight: 700;
  /* font-size: 0.875rem; */
}

.active {
  display: block;
  position: absolute;
  top: 84px;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.nav__item {
  width: 100%;
  text-align: center;
  padding: 0.8rem 0;
}

.nav__item:hover {
  border-radius: 1.8125rem;
  background: #ebecf0;
  box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.12) inset,
    -4px -4px 4px 0px #fff inset;
}

.nav__btn {
  display: none;
  cursor: pointer;
}

.nav-icon svg {
  font-size: 2rem;
  color: black;
  height: 20px;
  cursor: pointer;
}

/* home section  */
.home {
  margin-top: 2rem;
  min-height: calc(100vh - 72px - 2rem + 20px);
}

.home__container {
  text-align: center;
  gap: 2rem;
}

.home__container h1 {
  color: #555770;
  font-feature-settings: "clig" off, "liga" off;
  font-family: var(--poppins);
  font-style: normal;
  font-weight: 700;
  line-height: 92.188%; /* 3.6875rem */
}

.home__links {
  gap: 1rem;
}

/* events section  */

.events__container {
  /* max-width: 310px; */

  text-align: center;
  gap: 2rem;
}

.events__container h2 {
  font-family: var(--raleway);
  color: #003966;
}

.events__container p,
.service__container p {
  max-width: 454px;
  line-height: 150%;
}

.events__grid {
  display: grid;
  gap: 2rem;
}

.events__img img {
  max-width: 26.5rem;
  height: auto;
  border-radius: 23px;
  box-shadow: inset 0px 4px 4px 2px rgba(0, 0, 0, 0.52),
    5px 5px 4px 0px rgba(0, 0, 0, 0.25), -5px -5px 4px 0px #fff;
}

.events__text {
  gap: 2.5rem;
}

/* automate section  */

.automate__container {
  text-align: center;
  gap: 2.5rem;
}

.automate__img img {
  max-width: 42.38rem;
  border-radius: 23px;
  box-shadow: inset 0px 4px 4px 2px rgba(0, 0, 0, 0.52),
    5px 5px 4px 0px rgba(0, 0, 0, 0.25), -5px -5px 4px 0px #fff;
}

.automate__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.automate__grid ul {
  justify-self: center;
  align-self: center;
  align-items: baseline;
}

/* service */

.service__container {
  text-align: center;
  gap: 2.5rem;
}

/* partners section */
.partners__section {
  gap: 4rem;
}
.heading__h1 {
  font-family: var(--raleway);
  font-weight: 600;
  /* font-size: calc(3.38rem - 1rem); */
  line-height: 100%;
  text-align: center;
  color: #000;
}

.partners-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.brandbox {
  border: 2px solid #fff;
  border-radius: 31px;
  width: 13.62rem;
  height: 8.44rem;

  box-shadow: 6px 5px 10px 3px rgba(54, 54, 54, 0.24),
    inset 18px 19px 19px 0px rgba(0, 0, 0, 0.25), -8px -8px 10px 0px #fff;
  background: linear-gradient(
    153deg,
    #dcdde2 0%,
    #e2e3e7 8.68%,
    #ebecf0 100%,
    #e4e6eb 100%
  );

  border-radius: 1.9375rem;
  border: 2px solid #fff;
  background: linear-gradient(
    95deg,
    #dcdde2 4.48%,
    #e2e3e7 7.97%,
    #ebecf0 44.7%,
    #e4e6eb 44.7%
  );
  box-shadow: 6px 5px 10px 3px rgba(54, 54, 54, 0.24), -8px -8px 10px 0px #fff;
}

/* testimonial section */
.testimonial__section {
  gap: 4rem;
}
.testimonial__card {
  flex-grow: 1;
  border-radius: 30px;
  max-width: 18.75rem;
  /* height: 20rem; */
  box-shadow: 9px 9px 19px -5px rgba(0, 0, 0, 0.25),
    -8px -8px 15px 0px rgba(255, 255, 255, 0.98);
  background: #ebecf0;
  padding: 1.8rem 2.3rem;
  justify-content: flex-start;
  align-items: baseline;
  gap: 2rem;
}

.testimonial__card .profile__img {
  border: 1px solid #fff;
  border-radius: 100%;
  min-width: 3.12rem;
  min-height: 3.12rem;
  box-shadow: 9px 9px 13px 0px rgba(0, 0, 0, 0.25), -4px -4px 7px 2px #fff;
  background: linear-gradient(144deg, #dadce2 0%, #ebecf0 100%);
}

.profile__img img {
  width: 2.25rem;
  height: 2.25rem;
}

.review {
  justify-content: flex-start;
  align-items: baseline;
  gap: 1rem;
}

.review h3 {
  font-family: var(--raleway);
  font-weight: 600;
  font-size: clamp(0.6rem, calc(7vw + 0.1rem) 1rem);
  line-height: 140%;
  letter-spacing: -0.07rem;
  color: #000;
}

.review p {
  font-family: var(--roboto);
  font-weight: 400;
  font-size: clamp(0.5rem, calc(3vw + 0.1rem) 1rem);
  /* font-size: calc(1rem - 0.05rem); */
  color: #000;
}
/* get started  */

.get__started {
  z-index: 1;
  padding: 5rem 4rem;
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
  border-radius: 56px;
  backdrop-filter: blur(13px);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25), -1px -1px 2px 0px #fff;
  background: linear-gradient(
    143deg,
    rgba(222, 223, 227, 0.97) 0%,
    rgba(235, 236, 240, 0.93) 100%
  );
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
}
/* footer  */

footer {
  position: relative;
  width: 95%;
  margin: 3rem auto;
}

.footer-content {
  z-index: -1;
  width: 100%;
  position: absolute;
  top: -5rem;
  margin: 0 auto;
  border-radius: 40px;
  background: #5d5e60;
  padding: 3rem 2rem;
  gap: 2rem;
}

.footer__container {
  margin-top: 4rem;
  align-items: flex-start;
  text-align: start;
  gap: 4rem;
}

.important-links,
.contact-details,
.footer-logo {
  text-align: start;
  align-items: baseline;
  gap: 2rem;
}

.footer-logo {
  width: 100%;
  width: 200px;
  height: auto;
}

.copyright {
  justify-self: center;
  text-align: center;
  font-family: var(--roboto);
  font-weight: 400;
  /* font-size: 1rem; */
  color: #fff;
}
.home {
  gap: 4rem;
}
.hero__img {
  position: relative;
  width: 280px;
  height: 280px;
  justify-self: center;
  align-self: center;
}

.img_span_hero {
  width: 90px;
  height: auto;
  position: relative;
}

.heroCenter {
  width: 190px;
  height: auto;
}

.hero1 {
  position: absolute;
  top: 0;
  left: 10px;
  animation: rotateAndScale 9s forwards;
}

.hero2 {
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 2;
  animation: rotateAndScale 4s forwards;
}

.hero3 {
  position: absolute;
  bottom: 0;
  left: 10px;
  z-index: 0;
  animation: rotateAndScale 3s forwards;
}

.hero4 {
  position: absolute;
  bottom: 0;
  right: 10px;
  z-index: 2;
  animation: rotateAndScale 4s forwards;
}

.hero5 {
  position: absolute;
  right: -60px;
  z-index: 0;
  width: 130px;
  height: auto;
  animation: rotateAndScale 5s forwards;
}

.heroCenter {
  position: absolute;
  z-index: 1;
  animation: rotateAndScale 7s forwards;
}

.img_span_hero {
  transform: scale(0);
  animation-delay: 2s;
}

@keyframes rotateAndScale {
  0% {
    transform: scale(0);
  }
  10% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25) rotate(360deg);
  }
  60% {
    transform: scale(1) rotate(0deg);
  }
  75% {
    transform: scale(1.5) rotate(360deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
